PIF Validation Report	11/6/2025 10:33		
Row	Error Type	Error Description	
Row 2	Missing Required Field	PIF ID is required	NO BLANKS IN THIS FIELD
Row 2	Missing Required Field	Project ID is required	NO BLANKS IN THIS FIELD
Row 2	Missing Required Field	Change Type is required	NO BLANKS IN THIS FIELD
Row 28	Missing Required Field	PIF ID is required	NO BLANKS IN THIS FIELD
Row 28	Missing Required Field	Project ID is required	NO BLANKS IN THIS FIELD
Row 28	Missing Required Field	Change Type is required	NO BLANKS IN THIS FIELD
Row 3	Invalid Data Type	SEG must be numeric	All entries are 1,2,3 or 4




PIF Validation Report	11/6/2025 10:58	
Row	Error Type	Error Description
Row 2	Missing Required Field	PIF ID is required
Row 2	Missing Required Field	Project ID is required
Row 2	Missing Required Field	Change Type is required
Row 28	Missing Required Field	PIF ID is required
Row 28	Missing Required Field	Project ID is required
Row 28	Missing Required Field	Change Type is required
Row 3	Invalid Data Type	SEG must be numeric

